
<nav class="navbar" role="navigation" aria-label="main navigation" style="background-color: #1c2a48">
    <div class="container">
  <div class="navbar-brand">
    <a class="navbar-item" href="https://cyferlinx.com">
      <img src="../../../assets/cyferlinx-standalone-v3.svg" width="200" height="200">
    </a>

    <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">

    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <a class="button is-rounded is-medium" style="background-color: #0BE4B6; color: #1c2a48; border-color:  #0BE4B6" href="https://www.cyferlinx.com/signup">
            <strong>Sign up</strong>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
</nav>
